header{
  position: absolute;
  width: 100%;
  /*! background-color: white; */
  height: 77px;
  display: flex;
  align-items: center;
  gap: 60px;
}

header .wrap{
  
  gap: 250px;
  width: 527px;
  margin-left: 0;
  background-color: #323232;
  padding-left: 40px;
  align-items: center;
  border-radius: 0 0 38.5px 0;
  margin-right: 0;
  height: 100%;
  /*! gap: 40px; */
}
header .wrap h1{
  
}
header .wrap h1 a{

  font-size: 0;
  width: 200px;
  height: 39px;
  display: block;
  background-image: url(../img/samyang.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header .wrap a.menu{  
  width: 50px;
  height: 20px;
  /*! background-image: url(../img/logo.svg); */
  /*! background-repeat: no-repeat; */
  /*! background-position: center; */
  /*! background-size: cover; */
  font-size: 0;
  display: block;
  border-top: 3px solid white;
  position: relative;
}
header .wrap a.menu::before{
  content:"";
  border-bottom: 3px solid white;
  width: 80%;
  display: block;
  position: absolute;
  top: 8px;
}
header .wrap a.menu::after{
  content:"";
  border-bottom: 3px solid white;
  width: 70%;
  display: block;
  position: absolute;
  top: 20px;
}
header::after{
  content: "삼양라운드스퀘어";
}