section#image {  
  display: flex;
  background-color: #fdf8f5;
}
section#image div { 
  /*! display: grid; */
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: fit-content;
  margin: inherit;
  width: 100%;
}
section#image div ul{
}
section#image div.wrap h2 {
  
}
section#image div.wrap li {  
  width: calc(100% / 3);
  width: 76%;
  width: 480px;
  font-size: 0; 
}
section#image div.wrap li img {
  width: 100%;
  width: 480px;
}